---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading">模块</h2>
  <ul class="module-grid">
    <li class="module-grid__item">
      <a class="module-grid__link" href="{{ '/algorithm/' | relative_url }}">
        <span class="module-grid__title">算法笔记</span>
        <span class="module-grid__count">{{ site.algorithm.size }} 篇</span>
      </a>
    </li>
    <li class="module-grid__item">
      <a class="module-grid__link" href="{{ '/unity/' | relative_url }}">
        <span class="module-grid__title">Unity</span>
        <span class="module-grid__count">{{ site.unity.size }} 篇</span>
      </a>
    </li>
    <li class="module-grid__item">
      <a class="module-grid__link" href="{{ '/csharp/' | relative_url }}">
        <span class="module-grid__title">C#</span>
        <span class="module-grid__count">{{ site.csharp.size }} 篇</span>
      </a>
    </li>
    <li class="module-grid__item">
      <a class="module-grid__link" href="{{ '/cpp/' | relative_url }}">
        <span class="module-grid__title">C++</span>
        <span class="module-grid__count">{{ site.cpp.size }} 篇</span>
      </a>
    </li>
  </ul>
</div>
